#timer {
    margin: 20px auto;
    text-align: center;
    color: #333;
    font-family: Cutive Mono, Nanum Gothic Coding, Cousine, monospace;
    font-size: 100px;
    cursor: default;
}

#timer div {
    display: inline;
}

button {
    background: #9db09f;
    border: solid 1px black;
    padding: 2px 4px;
    margin: 10px 5px;
}

div#buttons {
    font-family: Cutive Mono, Nanum Gothic Coding, Cousine, monospace;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}

div#pomodoro_name_block {
    text-align: center
}